

.Frame{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 2;
}
.Logic{
    position: absolute;
    height: 593px;
    width: 589px;
    /* display: flex; */
    display: none;
    /* justify-content: center;
    align-items: center; */
    background-image: url(./static/FrameBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0 auto;
    top: 15%; 
    left: 30%;
    z-index: 2;
}
.form-group{
    position: relative;
    top: 70px;
    margin: 0 auto;
}
.form-group div{
    position: relative;
    margin-top: 15px;
}
.form-group div .form-span{
    text-align: right;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    width: 120px;
    height: 45px;
    vertical-align: top;
    line-height: 45px;
}
.form-group div .form-input{
    text-align: left;
    font-size: 16px;
    color: #000;
    display: inline-block;
    width: 350px;
    height: 45px;
    vertical-align: top;
    line-height: 45px;
}
#MathInput{
    padding-left: 10px;
    display: inline-block;
    width: 350px;
    height: 45px;
    margin: 0 auto;
    color: #000;
}
#MathBuffer{
    line-height: 50px;
    display: inline-block;
    border: 1px solid;
    padding: 3px;
    margin-top: 5px;
    top: 0px;
    left: 0px;
    width: 350px;
    min-height: 50px;
    background: #fff;
    font-size: 18px;
    text-align: center;
    color: #000;
}
#MathPreview{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    min-height: 50px;
    line-height: 50px;
    padding: 3px;
    width: 350px;
    margin-top: 5px;
    background-color: #fff;
    color: #000;
    padding-top: 12px;
}
.Frame .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
.Frame .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
.Frame .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}
.Logic .title{
    position: absolute;
    width: 100%;
    top: 20px;
    height: 40px
}
.Logic .title span{
    position: relative;
    font-size: 16px;
    color: #fff;
    top: 10px;
    left: 50px;
}
.Logic .title span:last-child{
    text-align: right;
    position: absolute;
    top: 10px;
    float: right;
    right: 50px;
}
.MathJaxEdit{
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 88%;
    height: 275px;
    overflow: auto;
}
.MathJaxEdit div{
    width: 500px;
   margin: 0 auto;
}
.MathJaxEdit .width-30{
    position: relative;
    margin:10px 0 ;
    width: 30%;
    float: left;
}
.MathJaxEdit .width-100{
    position: relative;
    margin:10px 0 ;
    width: 100%;
    float: left;
}
.width-select{
    width: 40% !important;
}
.width-30 span{
    font-size: 14px;
    color: #fff;
    width: 60px;
}
.width-30 input{
    color: #000;
    width: 100px;
    font-size: 14px;
    text-align: center;
}
.width-100 input{
    color: #000;
    width: 100px;
    font-size: 14px;
    text-align: center;
}
.width-30 select{
    color: #000;
    width: 100px;
    font-size: 14px;
}
.LogicForm{
    position: relative;
    top: 100px;
    margin: 0 auto;
}
.LogicForm div{
    width: 500px;
    margin-left: 50px;
}
.LogicForm div span{
    font-size: 14px;
    color: #fff;
}
.LogicForm div select{
    height: 32px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    margin-right: 15px;
}
#suanfaType{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}
#suanfaType div{
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    z-index: 3px;
}
#suanfaType div select{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 44px;
}
.frame-foot{
    position: absolute;
    bottom: 80px;
    right: 80px;
}
.frame-foot .button{
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    background-image: url(./static/botton.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #00beff;
    cursor: pointer;
    border-radius: 3px;
}